body {
    font-family: , sans-serif;
    background-color: #f0f0f0;  
    color: #333;
    padding: 20px;
    background-image: url("Immagini\backepicode.jpg"); 
    background-size: cover;  
    background-position: center;  
    background-repeat: no-repeat;  
}

.welcome {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
}

.epicodeLogo {
    display: block;
    margin: 0 auto;
    max-width: 150px;
}

h1 {
    text-align: center;
    font-size: 1.8rem;
    color: #ffffff;
    margin: 20px 0;
}

h1 span {
    color: #ffffff;
    font-weight: bold;
}

.instructions {
    margin: 20px 0;
    color: #fc00c6;
}

.instructions h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.instructions p {
    margin-bottom: 15px;
    font-size: 0.9rem;
}

.instructions ul {
    margin: 10px 0 0 20px;
    font-size: 0.9rem;
}

.instructions ul li {
    margin-bottom: 10px;
}

.instructions ul li span {
    font-weight: bold;
    color: #fc00c6;
}

#contChek {
    margin-top: 20px;
    text-align: center;
}

#check {
    margin-right: 10px;
}

label {
    font-size: 0.9rem;
    color: #333;
}

button {
    margin-top: 10px;
    padding: 10px 15px;
    font-size: 1rem;
    background-color: #ffffff;
    color: white;
    border: none;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
